<mat-toolbar color="primary">
  <span>Search Adress</span>
</mat-toolbar>

<form [formGroup]="form">
  <label>cep</label>
  <input matInput placeholder="cep" formControlName="cep" />

  <label for="">logradouro</label>
  <input matInput placeholder="logradouro" formControlName="logradouro" />

  <label for="">complemento</label>
  <input matInput placeholder="complemento" formControlName="complemento" />

  <label for="">bairro</label>
  <input matInput placeholder="bairro" formControlName="bairro" />

  <label for="">localidade</label>
  <input matInput placeholder="localidade" formControlName="localidade" />

  <label for="">ibge</label>
  <input matInput placeholder="ibge" formControlName="ibge" />

  <label for="">ddd</label>
  <input matInput placeholder="ddd" formControlName="ddd" />

  <label for="">siafi</label>
  <input matInput placeholder="siafi" formControlName="siafi" />

  <button mat-raised-button color="primary" (click)="getFindAddress()">
    Search
  </button>
</form>
