<mat-toolbar color="primary">
  <span>Search Adress</span>
</mat-toolbar>

<form [formGroup]="form">
  <label>cep</label>
  <input
    class="form-control"
    placeholder="cep"
    formControlName="cep"
    aria-describedby="basic-addon1"
  />

  <label>logradouro</label>
  <input
    class="form-control"
    placeholder="logradouro"
    formControlName="logradouro"
    aria-describedby="basic-addon1"
  />

  <label>complemento</label>
  <input
    class="form-control"
    placeholder="complemento"
    formControlName="complemento"
    aria-describedby="basic-addon1"
  />

  <label>bairro</label>
  <input
    class="form-control"
    placeholder="bairro"
    formControlName="bairro"
    aria-describedby="basic-addon1"
  />

  <label>localidade</label>
  <input
    class="form-control"
    placeholder="localidade"
    formControlName="localidade"
    aria-describedby="basic-addon1"
  />

  <label>ibge</label>
  <input
    class="form-control"
    placeholder="ibge"
    formControlName="ibge"
    aria-describedby="basic-addon1"
  />

  <label>ddd</label>
  <input
    class="form-control"
    placeholder="ddd"
    formControlName="ddd"
    aria-describedby="basic-addon1"
  />

  <label>siafi</label>
  <input
    class="form-control"
    placeholder="siafi"
    formControlName="siafi"
    aria-describedby="basic-addon1"
  />

  <button mat-raised-button color="primary" (click)="getFindAddress()">
    Search
  </button>
</form>
