form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 20rem;
    margin: auto;
    margin-top: 5rem;

    button {
        margin: auto;
        margin-top: 1rem;
        width: 5rem;
    }
}