<form [formGroup]="form">
  <label for="">cep</label>
  <input type="text" formControlName="cep"/>
  <label for="">logradouro</label>
  <input type="text" formControlName="logradouro" />
  <label for="">complemento</label>
  <input type="text" formControlName="complemento" />
  <label for="">bairro</label>
  <input type="text" formControlName="bairro" />
  <label for="">localidade</label>
  <input type="text" formControlName="localidade" />
  <label for="">ibge</label>
  <input type="text" formControlName="ibge" />
  <label for="">ddd</label>
  <input type="text" formControlName="ddd" />
  <label for="">siafi</label>
  <input type="text" formControlName="siafi" />
  <button (click)="getFindAddress()">Search</button>
</form>
